<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11 category-path" *ngIf="category"><a href="#">{{category.name}}</a></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 search-result-message" *ngIf="searchKeyword">
    <h4>Rezultatele cautarii pentru termenul: {{searchKeyword}}</h4>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row container-fluid">
      <div class="col-md-4 product" *ngFor="let product of allProducts">
        <a [routerLink]="['/details',product.id]">
          <app-product-card [product]="product"></app-product-card>
        </a>
      </div>
    </div>
  </div>
</div>

