<div class="navbar navbar-expand-lg justify-content-center navbar-custom">
  <div class="navbar-element-icons">
    <a matTooltip="Menu" class="navbar-brand" href="#">
      <img class="images-navbar" src="/assets/images/menuIcon.png">
    </a>
    <a matTooltip="Home" class="navbar-brand" href="#">
      <img class="images-navbar" src="/assets/images/LogoFundalTransparent.png">
    </a>
  </div>


  <div class="navbar-element-form">
    <form class="form-inline my-0 my-lg-0 search-form">
      <input class="form-control mr-sm-3 search-input" type="search" placeholder="Cauta un produs"
             aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Cauta</button>
    </form>
  </div>

  <div class="navbar-element-account">
    <ul class="nav navbar-nav">
      <li><a matTooltip="Contul meu" class="nav-item nav-link" (click)="redirectTo()"><img class="images-navbar" src="/assets/images/account.png"/></a></li>
      <li><a matTooltip="Cosul meu" class="nav-item nav-link" href="#"><img class="images-navbar" src="/assets/images/cart.png"/></a></li>
    </ul>
  </div>
</div>
