<div class="homepage-container">
  <div class="row justify-content-center">
    <div class="extra-space"></div>
    <div class="col-md-8">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width="100%" src="/assets/images/bannerWelcome2.png" alt="Welcome banner TechWorld">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width="100%" src="/assets/images/bannerProduse.png" alt="Banner products TechWorld">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img width="100%" src="/assets/images/bannerLaptop.png" alt="Banner laptops TechWorld">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="row categories-container">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-around">
      <div class="categories-container row container-fluid">
        <div class="col-md-4 category" *ngFor="let category of categories">
          <a [routerLink]="['/product', category[1]]">
            <app-categories-list [categoryImage]="category[0]"></app-categories-list>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
