<div class="footer-container">
  <footer class="page-footer font-small pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">TECHWORLD</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Despre noi: TechWorld este un brand de magazine online care comercializeaza produse de tipul electrice
            si electrocasnice. Te invitam sa consulti catalogul nostru pentru cele mai bune oferte!</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Informatii clienti</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Despre noi</a>
          </p>
          <p>
            <a href="#!">Retur</a>
          </p>
          <p>
            <a href="#!">Garantie</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">LINKURI UTILE</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Termeni si conditii</a>
          </p>
          <p>
            <a href="#!">Protectia datelor cu caracter personal</a>
          </p>
          <p>
            <a href="#!">Promotii</a>
          </p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase font-weight-bold">Contacteaza-ne</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Cluj-Napoca, CJ 400000, Romania</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> contactTW@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 40 751 124 734</p>

        </div>
      </div>
    </div>
    <hr>

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Nu ai cont inca? </h5>
      </li>
      <li class="list-inline-item">
        <a [routerLink]="['/register']" class="btn btn-outline-light btn-rounded">Inregistrare</a>
      </li>
    </ul>

    <div class="footer-copyright text-center py-3">© 2020 Copyright: Munteanu Lisa-Ioana, CS UBB Cluj-Napoca</div>
  </footer>
</div>
